@tailwind base;
@tailwind components;
@tailwind utilities;

/* colours */
:root {
    --white: #ffffff;
}

/* load custom fonts */
@font-face {
    font-family: "Satoshi";
    src: url("fonts/Satoshi-Variable.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-VariableFont_opsz,wght.ttf");
}

@layer base {
    h1 {
        font-family: "Satoshi", sans-serif;
        font-weight: bold;
    }
    p {
        font-family: "Inter", sans-serif;
        font-weight: 400;
    }

    li {
        display: flex;
        flex-direction: row;

        gap: 0.5rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}